#ContenedorMain{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

#contenedor {
  width: 1000px;
  height: 500px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(173, 173, 247);
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  place-items: center;
}

.card {
  width: 700px;
  height: 60px;
  background-color: aliceblue;
  border-radius: 10px;
  border: solid 3px rgb(218, 226, 232);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card h3 {
  font-size: 25px;
  margin: 0;
}

#card1:hover {
  border: solid 1px green;
  background-color: rgb(175, 255, 207);
  box-shadow: 0 0 10px green;
}

#card2:hover {
  border: solid 1px yellow;
  background-color: rgb(255, 255, 212);
  box-shadow: 0 0 10px yellow;
}

#card3:hover {
  border: solid 1px blue;
  background-color: rgb(214, 214, 255);
  box-shadow: 0 0 10px blue;
}

#card4:hover {
  border: solid 1px orange;
  background-color: rgb(255, 234, 195);
  box-shadow: 0 0 10px orange;
}

#card5:hover {
  border: solid 1px rgb(255, 0, 255);
  background-color: rgb(255, 214, 255);
  box-shadow: 0 0 10px rgb(255, 0, 255);
}

#card6:hover {
  border: solid 1px red;
  background-color: rgb(255, 191, 191);
  box-shadow: 0 0 10px red;
}
